{% extends 'WeddingRespondBundle::layout.html.twig' %}

{% block title %}Andria &amp; David - Rehearsal Dinner{% endblock %}

{% block id %}rehersal{% endblock %}

{% block navigation_left %}{% endblock %}

{% block navigation_right %}{% endblock %}

{% block content %}
  <div class="pages">
    
    <div id="rsvp" class="page page-rsvp">
      {% if app.session.flashbag.has('message') %}
        {% for flashMessage in app.session.flashbag.get('message') %}
          <h2 class="title">{{ flashMessage }}</h2>
          <div class="body">
            {{ render(controller("WeddingRespondBundle:Rehearsal:thanks", { 'attending': true })) }}
          </div>
        {% endfor %}
      {% elseif app.session.flashbag.has('notice') %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
          <h2 class="title">{{ flashMessage }}</h2>
          <div class="body">
            {{ render(controller("WeddingRespondBundle:Rehearsal:thanks", { 'attending': false })) }}
          </div>
        {% endfor %}
      {% else %}
        <h2 class="title">Rehearsal Dinner RSVP</h2>
        <form class="rsvp" action="{{ path('wedding_respond_rehearsal') }}" method="post" {{ form_enctype(form) }}>
          <div id="{{ form.vars.id }}">
            {{ form_row(form.attending) }}
            {{ form_row(form.first_name) }}
            {{ form_row(form.last_name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.phone) }}
            
            <div class="guest">
                {{ form_label(form.guest) }}
                {{ form_errors(form.guest) }}
                {# iterate over each existing guest and render its only fields: first_name and last_name #}
                <div class="collection" data-prototype="{{ form_widget(form.guest.vars.prototype)|e }}">
                  {% for guest in form.guest %}
                      <div class="form">
                        {{ form_widget(guest) }}
                      </div>
                  {% endfor %}
                </div>
                
                {{ form_widget(form.guest) }}
                
            </div>
            
            {{ form_end(form) }}
            
            <input class="submit" type="submit" value="Respond" />
            
          </div>
          
        </form>
      {% endif %}
    </div>
    
  </div>
{% endblock %}
