{% extends 'WeddingRespondBundle::layout.html.twig' %}

{% block subheader %}

  <div id="photos" class="page page-photos">
    
    <div class="background">
    
      <div class="wrapper">
        <!--
        <div class="carousel prev">
          {% for photo in photos %}
            <img src="/bundles/weddingrespond/images/photos/{{ photo }}" alt="" class="{% if loop.last == false %}hidden{% endif %}" />
          {% endfor %}
        </div>
        -->
      
        <div class="carousel main">
          {% for photo in photos %}
            <img src="/bundles/weddingrespond/images/photos/{{ photo }}" alt="" class="{% if loop.first == false %}hidden{% endif %}" />
          {% endfor %}
        </div>
        
        <!--
        <div class="carousel next">
          {% for photo in photos %}
            <img src="/bundles/weddingrespond/images/photos/{{ photo }}" alt="" class="{% if loop.index != 2 %}hidden{% endif %}" />
          {% endfor %}
        </div>
        -->
        
      </div>
    
    </div>
  
  </div>

{% endblock %}

{% block content %}
  <div class="pages">
    
    <div id="tweets" class="page page-tweets">
      {{ render(controller("WeddingTwitterBundle:Default:index")) }}
    </div>
    
    <div id="rsvp" class="page page-rsvp">
      {% if app.session.flashbag.has('message') %}
        {% for flashMessage in app.session.flashbag.get('message') %}
          <h2 class="title">{{ flashMessage }}</h2>
          <div class="body">
            {{ render(controller("WeddingRespondBundle:Default:thanks", { 'attending': true })) }}
          </div>
        {% endfor %}
      {% elseif app.session.flashbag.has('notice') %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
          <h2 class="title">{{ flashMessage }}</h2>
          <div class="body">
            {{ render(controller("WeddingRespondBundle:Default:thanks", { 'attending': false })) }}
          </div>
        {% endfor %}
      {% else %}
        <h2 class="title">RSVP</h2>
        <form class="rsvp" action="{{ path('wedding_respond_homepage') }}" method="post" {{ form_enctype(form) }}>
          {{ form_widget(form) }}
          <input class="submit" type="submit" value="Respond" />
        </form>
      {% endif %}
    </div>
    
    <div id="party" class="page page-people page-gentlemen">
      {{ render(controller("WeddingRespondBundle:Default:people")) }}
    </div>
    
    <div id="registry" class="page page-registry">
      {{ render(controller("WeddingRespondBundle:Default:registry")) }}
    </div>
    
    <div id="travel" class="page page-travel">
      {{ render(controller("WeddingRespondBundle:Default:travel")) }}
    </div>
    
  </div>
{% endblock %}
