<h2 class="title">{{ title }}</h2>
<div class="body">
  <div class="info">
    <div class="people">
      {% for who_key, who in people %}
        <div class="who who-{{ who_key }}">
          {% for key, person in who %}
            <div class="person person-{{ key }}">
              <div class="image">
                {% if person.social.facebook is defined %}
                  <a href="http://www.facebook.com/{{ person.social.facebook }}">
                {% endif %}
                {% if person.image is defined %}
                  <img src="{{ person.image }}" class="person-{{ key }}" title="{{ person.name }}" />
                {% elseif person.social.facebook is defined %}
                  <img src="https://graph.facebook.com/{{ person.social.facebook }}/picture?width=600&height=600" class="person-{{ key }}" title="{{ person.name }}" />
                {% endif %}
                {% if person.social.facebook is defined %}
                  </a>
                {% endif %}
              </div>
              <h3>
                {% if person.social.facebook is defined %}
                  <a href="http://www.facebook.com/{{ person.social.facebook }}">{{ person.name }}</a>
                {% else %}
                  {{ person.name }}
                {% endif %}
              </h3>
            </div>
          {% endfor %}
         </div>
      {% endfor %}
    </div>
  </div>
</div>
